{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">{{ title }}</div>
        <div class="card-body">
          {% include 'includes/error.html' %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">{{ button }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
